#settings {
    background-color: whitesmoke;
    text-align: center;
    font-family: initial;
    font-size: 25px;
    color: darkslategrey;
    visibility: visible;
    width: 600px;
    position: relative;
    transform: translate(-50%);
    left: 50%;
}

h1 {
    color: lightsteelblue;
    font-family: initial;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: slategray;
    font-family: initial;
    font-size: 40px;
    text-align: center;
}

#startButton {
    color: darkslategrey;
    font-family: initial;
    background-color: lightgray;
    padding: 40px;
    border: lightblue dotted;
    font-size: 30px;
}

canvas {
    border: 1px solid black;
    position: relative;
    transform: translate(-50%);
    left: 50%;
}

footer {
    text-align: center;
    margin-top: 650px;
}

#time {
    margin: auto;
    width: 175px;
    height: 80px;
    background-color: slategray;
    color: cadetblue;
    position: absolute;
    margin-top: -90px;
    margin-left: 45%;
    margin-top: -800px;
}

#storage {
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    margin-top: -800px;
    margin-left: 250px;
    border: lightblue dotted;
}

#storage p {
    color: white;
    padding: 5px;
}

#containerstorage {
    background-color: lightgrey;
    width: 200px;
    height: 200px;
    margin-left: 470px;
    margin-top: -207px;
    border: lightblue dotted;
}

#containerstorage p {
    color: white;
    padding: 5px;
}

#order {
    background-color: lightgrey;
    width: 200px;
    height: 200px;
    margin-top: 370px;
    margin-left: 250px;
    border: lightblue dotted;
}

#order p {
    color: white;
    padding: 5px;
}