#settings {
    background-color: whitesmoke;
    text-align: center;
    font-family: initial;
    font-size: 25px;
    color: darkslategrey;
    visibility: visible;
    width: 600px;
    position: relative;
    transform: translate(-50%);
    left: 50%;
}

h1 {
    color: lightsteelblue;
    font-family: initial;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: slategray;
    font-family: initial;
    font-size: 40px;
    text-align: center;
}

#startButton {
    color: darkslategrey;
    font-family: initial;
    background-color: lightgray;
    padding: 40px;
    border: lightblue dotted;
    font-size: 30px;
}

canvas {
    border: 1px solid black;
    position: relative;
    transform: translate(-50%);
    left: 50%;
}

footer {
    text-align: center;
    margin-top: 650px;
}

#time {
    margin: auto;
    width: 175px;
    height: 80px;
    background-color: slategray;
    color: cadetblue;
    position: absolute;
    margin-top: -90px;
    margin-left: 45%;
    margin-top: -800px;
}

#storage {
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    margin-top: -800px;
    margin-left: 130px;
    border: lightblue dotted;
    color: white;
    font-family: initial;
}

#containerstorage {
    background-color: lightgrey;
    width: 200px;
    height: 200px;
    margin-left: 370px;
    margin-top: -206px;
    border: lightblue dotted;
    color: white;
    font-family: initial;
}

#order {
    background-color: lightgrey;
    width: 200px;
    height: 200px;
    margin-top: 340px;
    margin-left: 130px;
    border: lightblue dotted;
}

#order p {
    color: white;
    padding: 5px;
}

#reorder {
    margin-left: 200px;
    margin-top: 10px;
    position: absolute;
    color: lightslategray;
    border-color: lightslategray;
    font-family: initial;
}

#reorder:hover {
    border: lightblue dotted;
}

#refill {
    margin-left: 450px;
    margin-top: 10px;
    position: absolute;
    color: lightslategray;
    border-color: lightslategray;
    font-family: initial;
}

#refill:hover {
    border: lightblue dotted;
}

#finishorder {
    margin-left: 180px;
    margin-top: 10px;
    position: absolute;
    color: lightslategray;
    border-color: lightslategray;
    font-family: initial;
}

#finishorder:hover {
    border: lightblue dotted;
}